:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 00;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #34373b;
    color: #e0e0e0;
    text-align: center;
}

/* General */

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
    margin-bottom: 0;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
}

sup,
span {
    color: #bdbdd0;
}

.page-content a {
    color: #646cff;
    text-decoration: none;
}

.page-content a:visited {
    color: #535bf2;
}

.page-content a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Links */
a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}
