:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #34373b;
    color: #e0e0e0;
    text-align: center;
}

/* General */

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
    margin-bottom: 0;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
}

sup,
span {
    color: #bdbdd0;
}

.page-content {
    padding-top: 90px;
}

.page-content a {
    color: #3a8af2;
    text-decoration: none;
}

.page-content a:visited {
    color: #2a7ae2;
}

.page-content a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Pretty tables and lists */

.table-container {
    display: inline-block;
}

table {
    margin: auto;
    table-layout: fixed;
    border-collapse: collapse;
}

th,
td {
    padding: 3px 5px;
    border: 1px solid #212529;
    min-width: 55px;
}

.table-footnote {
    text-align: left;
    margin-top: 2px;
}

ul,
ol {
    margin-top: 3px;
    padding-left: 30px;
}

li::marker {
    font-weight: bold;
}

pre {
    text-align: left;
}
